*{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft Yahei" !important;
  a{
    text-decoration: none;
  }
}
.removeiPhone{
  -webkit-appearance:none !important;
}
.info-list{
  *{
    font-size: 16px;
    text-align: center;
  }
}
.money_num{
  visibility: hidden;
}
.clearAdd{
  display: block;
  margin: 2px auto;
  padding: 5.6px 10px;
  width: 25%;
  text-align: center;
  box-shadow: inset 0 0 4px #c0c0c0;
  border-radius: 3px;
  background: #46a6f7;
  line-height: 20px ;
  text-shadow: none;
  color: #ffffff;
  float: right;
  height: 19.8px;
  font-size: 10px;
}
.getAddress{
  float: left;
  width: 60%;
  -webkit-appearance:none !important;
  height: 19.8px;
  padding: 5.6px;
  box-shadow: inset 0 0 3px #c0c0c0;
  border: none;
  border-radius: 5px;
}
.GPS-box{
  width: 100%;
  overflow: hidden;
}
#AddressGet{
  .addressList{
    width: 98%;
    display: block;
    margin: 0 auto;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-radius: 3px;
    .add-area{
      color: #c0c0c0;
      text-shadow: none;
    }
  }
  .addressLine{
    width: 98%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    a{
      font-size: 17px;
      height: 100%;
      color: #ffffff;
      text-shadow: none;
      padding: 8px;
      background: orange;
      float: right;
    }
    .AddressInput{
      border: none;
      float: left;
      font-size: 13px;
      box-shadow: inset 0 0 3px #cccccc;
      padding: 12px 8px;
      width: 75%;
      border-radius: 5px;
    }
  }
}
@font-face {font-family: "iconfont";
  src: url('../icon/iconfont.eot'); /* IE9*/
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.numBox{
  width: 100%;
  text-align: center;
  .KgNum{
    width: 20%;
    height: 21px;
    text-align: center;
    padding: 5px 3px ;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 4px #666;
  }
  a{
    margin: 0;
  }
}
.dgDescribe{
  width: 92%;
  box-shadow: inset 0 0 10px #cccccc;
  border-radius: 5px;
  text-align: left;
  padding: 7px;
  border: none;
  display: block;
  margin: 0 auto;
}
.header{
  background: #46a6f7 !important;
  color: #ffffff !important;
  text-shadow: none !important;
  font-size: 18px;
  .button-return{
    margin-top: 5px;
  }
}
.moneyInput{
  width: 30%;
  float: left;
  border: none;
  padding: 5px 10px;
  -webkit-appearance:none;
  box-shadow: inset 0 0 6px #cccccc;
  border-radius: 5px;
  font-size: 20px;
}
.info-list{
  text-align: left !important;
  b{
    display: block;
    height: 100% !important;
    width: 35% !important;
    text-align: left !important;
    margin : 0 !important;
    padding : 0 !important;
    float: left !important;
  }
  i{
    float: right !important;
    width: 65% !important;
    text-align: left !important;
    font-style: normal;
  }
}
.icon-huoche:before { content: "\e647"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-taocanxiangqing:before { content: "\e614"; }
@media screen and (max-width: 330px){
  .info-list{
    *{
      font-size: 13px;
    }
  }
}
@media screen and (max-width: 290px){
  .info-list{
    *{
      font-size: 11px;
    }
  }
}